body {
}
.slide1 {
    background-image: url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2 {
    background-image: url('https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide3 {
    background-image: url('https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-caption h1 {
    font-size: 5.4em;
    font-family: 'Pacifico', cursive;
    padding-bottom: .4em;
}

.carousel-caption p {
    font-size: 2em;
}

#startview {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#Greenline {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 100px solid #0D2B14;
}

#rub1 {
    color: white;
    font-size: 100px;
    font-family: 'Abril Fatface', cursive;
}

#welcome {
    color: white;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

#contactbutton {
    float: right;
    font-family: 'Montserrat', sans-serif !important;
    margin: 10px;
    background-color: #D98D6A;
    border-color: #E66B6A;
    font-weight:600;
    opacity: 0.8;
}
#send {
    border-radius: 5px;
    border-style: solid;
}

#othertopbutton {
    float: left;
    font-family: 'Montserrat', sans-serif !important;
    margin: 10px;
    background-color: #0D2B14;
    border-color: #0D2B14;
    font-weight: 600;
    opacity: 0.8;
}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

